{% load static %}
<!DOCTYPE html>
<html>
<head>
	
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src= "https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->

  	<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}">

    <script type="text/javascript">
      $(window).load(function() {
        $(".loadScreen").fadeOut(2800);
      });
    </script>
	<title>Profile Page</title>
</head>
<body style="background-image : linear-gradient(to bottom right, lightblue, white)">
  <div class="loadScreen"></div>
	<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		<a class="navbar-brand" href="#">Hello apa kabar?</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav">
      			<li class="nav-item">
        			<a class="nav-link" href="../profil">Profil</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="..">Pesan</a>
      			</li>
      			<li class="nav-item dropdown">
       				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         				Ubah Tema
       				</a>
       				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    					<button type="button" class="dropdown-item night-tema" onclick = "defaultTheme()">Default</button>
    					<button type="button" class="dropdown-item night-tema" onclick = "nightTheme()">Night</button>
  					</div>
       			</li>
            <li class="nav-item">
              <a class="nav-link" href="../buku">Buku Favorit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../register">Subscribe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../subscriber-list">Subscribers</a>
            </li>
			</ul>
		</div>
	</nav>
	<br><br><br>
	
	<div class = "container text-center" style=" width : 25%;">
		<img src="https://image.ibb.co/mmcvjU/cto_clarisa.gif" class="img-fluid rounded" alt="Responsive image">
		<br><br>
	</div>
	<div class="container text-center">
		{% for e in infos %}
		<div class="d-inline p-2 bg-dark text-white">{{ e }}</div><br><br>
		{% endfor %}
		<div id='accordion'>
		<button class="accordion">Aktivitas</button>
		<div class="panel">
  			<div class="container">
  				<div class="row">
    				<div class="col-3">
    					<br>
      					<img src="https://yuniamandalasari.files.wordpress.com/2015/03/logo-ui.gif"class="img-fluid rounded" alt="Responsive image">
      					<br>
      					<p>Mahasiswi Sistem Informasi Universitas Indonesia</p>
    				</div>
    				<div class="col-1">
    				</div>
    				<div class="col-3">
    					<br>
      					<img src="https://bem.cs.ui.ac.id/lpj18/assets/img/keilmuan.png" class="img-fluid rounded" alt="Responsive image">
      					<p>Staff Divisi Keilmuan BEM Fasilkom 2018</p>
    				</div>
    				<div class="col-1">
    				</div>
    				<div class="col-4">
    					<br>
      					<img src = "https://openclipart.org/image/2400px/svg_to_png/278691/teaching.png" class="img-fluid rounded" alt="Responsive image">
      					<br>
      					<p>Asisten Dosen Matematika Diskret 1</p>
    				</div>
  				</div>
			</div>
		</div>

		<button class="accordion">Pengalaman Organisasi dan Kepanitiaan</button>
		<div class="panel">
			<div class="list-group">
  				<a class="list-group-item list-group-item-action flex-column align-items-start disabled">
   					<div class="d-flex w-100 justify-content-between">
     					<h5 class="mb-1">Organisasi : OSIS SMAN 82 Jakarta</h5>
    					<small>2014-2016</small>
   					</div>
  					<p class="mb-1 text-left">Ketua Koordinat Seksi IT dan Multi-Bahasa</p>
 				</a>
 				<a class="list-group-item list-group-item-action flex-column align-items-start disabled">
   					<div class="d-flex w-100 justify-content-between">
     					<h5 class="mb-1">Kepanitiaan : Open House Fasilkom 2017</h5>
    					<small>2017</small>
   					</div>
  					<p class="mb-1 text-left">Staff Humas dan Publikasi</p>
 				</a>
 				<a class="list-group-item list-group-item-action flex-column align-items-start disabled">
   					<div class="d-flex w-100 justify-content-between">
     					<h5 class="mb-1">Kepanitiaan : Wisuda Genap Fasilkom 2018</h5>
    					<small>2018</small>
   					</div>
  					<p class="mb-1 text-left">VPC Divisi Konsumsi</p>
				</a>
 				<a class="list-group-item list-group-item-action flex-column align-items-start disabled">
   					<div class="d-flex w-100 justify-content-between">
     					<h5 class="mb-1">Kepanitiaan : Compfest 2018</h5>
    					<small>2018</small>
   					</div>
  					<p class="mb-1 text-left">Staff Food & Beverage</p>
 				</a>
			</div>
		</div>
		<button class="accordion">Prestasi</button>
		<div class="panel">
			<div class="list-group">
  				<a class="list-group-item list-group-item-action flex-column align-items-start disabled">
   					<div class="d-flex w-100 justify-content-between">
     					<h5 class="mb-1">Ranking 1 Paralel SMAN 82 Jakarta Selatan</h5>
     					<small>2017</small>
   					</div>
 				</a>
 				<a class="list-group-item list-group-item-action flex-column align-items-start disabled">
   					<div class="d-flex w-100 justify-content-between">
     					<h5 class="mb-1">Masih belum ada lagi :(</h5>
    					<small>20--</small>
   					</div>
 				</a>
  			
		</div>
	</div>
	</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src = "static/landing/profscript.js"></script>
    <script type="text/javascript">
    	jQuery(document).ready(function($){
			$('#accordion').accordion({
				collapsible: true,
				active: false
			});
		});
	</script>

</body>

		
</html>