{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Landing Page</title>
</head>
<body style="background-image : linear-gradient(to bottom right, lightblue, white)">
	<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		<a class="navbar-brand" href="#">Hello apa kabar?</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav">
      			<li class="nav-item">
        			<a class="nav-link" href="../profil">Profil</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="..">Pesan</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../buku">Buku Favorit</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../register">Subscribe</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../subscriber-list">Subscribers</a>
      			</li>
			</ul>
		</div>
	</nav>
	<br><br><br>
	<div class = "container">
		<h1 class="display-3">Subscribe</h1><hr>
		{% csrf_token %}
			<div class="form-group">
    			<label for="exampleInputName1">Nama</label>
    			<input type="text" class="form-control" id="name" placeholder="Nama">
  			</div>
  			<div class="form-group">
    			<label for="exampleInputEmail1">Alamat Email</label>
    			<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Masukkan email...">    
  			</div>
  			<div class="form-group">
    			<label for="exampleInputPassword1">Password</label>
    			<input type="password" class="form-control" id="password" placeholder="Password">
  			</div>
  			<button disabled
  			= "true" class="btn btn-primary" id = "submit">Submit</button>
  		<div class = 'text-center'>
  			<br><br>
			<div class="alert alert-info" role="alert" id="result">
			</div>
			<br><br>
		</div>
	</div>
	<script type="text/javascript">
		$('#email').keyup(function () {
			$.ajax({
				url: '/email-availability/?address=' + $('#email').val(),
				method: 'GET',
				success: function(response){
					if($('#email').val() !== response.email) return;
					if(response.available) {
						$('#result').prop('class','alert alert-info')
						$('#result').html('');
						$('#submit').prop('disabled',false);
					}
					else{
						$('#result').prop('class','alert alert-warning')
						$('#result').html("Email tersebut sudah pernah didaftarkan sebelumnya, silakan daftar dengan email lain");
						$('#submit').prop('disabled',true);
					}
				}
			});
		});
		$('#submit').click(function() {
			$.ajax({
				url : '/register',
				method: 'POST',
				data: {
					name: $('#name').val(),
					email: $('#email').val(),
					password: $('#password').val(),
					csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
				},
				success: function(response){
					$('#result').prop('class','alert alert-success')
					$('#result').html(response.message);
					$('#name').val('');
					$('#email').val('');
					$('#password').val('');
				},
				error: function(xhr, status, error){
					$('#result').prop('class','alert alert-danger')
					$('#result').html('Gagal untuk menyimpan dengan error : ' + JSON.parse(xhr.responseText).error[0]);
				}
			});
		});
	</script>
</body>
</html>