<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
	</style>

	<title>List Subscriber</title>
</head>
<body style="background-image : linear-gradient(to bottom right, lightblue, white)">
	<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		<a class="navbar-brand" href="#">Hello apa kabar?</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav">
      			<li class="nav-item">
        			<a class="nav-link" href="../profil">Profil</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="..">Pesan</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../buku">Buku Favorit</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../register">Subscribe</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../subscriber-list">Subscribers</a>
      			</li>
			</ul>
		</div>
	</nav>
	<br><br><br>
	<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="form-group">
    	<label for="exampleInputPassword1">Password</label>
    	<input type="password" class="form-control" id="password" placeholder="Password">
    	{% csrf_token %}
    	<button disabled= "true" class="btn btn-primary" id = "submit">Submit</button>
  	</div>
  </div>

</div>
	<div class = "container" >
		<table class = "table table-striped" id = "lst" style = "background-color: white">
		</table>
	</div>
		<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				url: "/registereddata/",
				success: function(result){
					result = result
					var hdr = "<thead><tr><th>Nama</th><th>Email</th><th>Unsubscribe</th><th style = 'display : none'></th></tr></thead>";
						$("#lst").append(hdr);
						$("#lst").append("<tbody>");
						dataLength = result.length;
					for(i=0; i<result.length; i++){
						var tmp = "<tr class = 'registered'><td>" + result[i].nama + "</td><td>" + result[i].email + "</td><td>"+ "<button class='btn btn-danger'"+" ' onclick = 'unsubscribe(" +"\""+i+"\""+")'>Unsubscribe</button>"+ "</td><td style = 'display : none' id='"+i+"'>"+result[i].password+"</td></tr>";

						$("#lst").append(tmp);
					}
					$("#lst").append("</tbody>");
				}
			});
		});
		var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
		var pass = ''
		function unsubscribe(id) {
			pass = $('#'+id).html();
    		modal.style.display = "block";
		}
		$('#password').keyup(function() {
			if(pass == $('#password').val()) {
				$('#submit').prop('disabled',false);
			}
			else {
				$('#submit').prop('disabled',true);
			}
		});
		$('#submit').click(function(){
			$.ajax({
				url : '/deletion',
				method : 'POST',
				data : {password : $('#password').val(),
						csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
					},
				success : function(){
					alert("Unsubscribe berhasil");
					location.reload();
				}
			});
		});
// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
    		modal.style.display = "none";
		}

// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
    		if (event.target == modal) {
        		modal.style.display = "none";
    		}
		}

	</script>
	
</body>
</html>