<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Landing Page</title>
</head>
<body style="background-image : linear-gradient(to bottom right, lightblue, white)">
	<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		<a class="navbar-brand" href="#">Hello apa kabar?</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav">
      			<li class="nav-item">
        			<a class="nav-link" href="../profil">Profil</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="..">Pesan</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../buku">Buku Favorit</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../register">Subscribe</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../subscriber-list">Subscribers</a>
      			</li>
			</ul>
		</div>
	</nav>
	<br><br><br>
	<div class = "container">
		<form id="form" method="POST" action="{% url 'add_post' %}">
			{% csrf_token %}
			{{ formPost }}
			<input id="submit" type="submit" class="btn btn-info form-control" value="Submit">
		</form>
		<br><br>
	</div>
	{% for e in posts %}
	<div class="d-inline p-2 bg-info text-white">{{ e.date }}</div>
	<div class="d-inline p-2 bg-dark text-white">{{ e.post }}</div>
	<br><br>
	{% endfor %}

</body>
</html>