<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="google-signin-client_id" content="173671239850-tvdsiji0vj836r275rft11e4kprijgt8.apps.googleusercontent.com">
	<script type="text/javascript" src = "static/landing/bookshelf.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<title>Daftar Buku</title>
</head>
<body style="background-image : linear-gradient(to bottom right, lightblue, white)">
	<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  		<a class="navbar-brand" href="#">Hello apa kabar?</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav">
      			<li class="nav-item">
        			<a class="nav-link" href="../profil">Profil</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="..">Pesan</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../buku">Buku Favorit</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../register">Subscribe</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="../subscriber-list">Subscribers</a>
      			</li>
			</ul>
		</div>
	</nav>
	<br><br><br>
	<div class = "container" >

		{% if user.is_authenticated %}
		<h2 class = 'display-4'> Halo, Kak {{user.username}}</h1>
		<a href="{% url 'logout' %}" class = 'btn btn-dark'>Sign out</a>
		{% else %}
		<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-light">Login with Google</a><br>
		{% endif %}
		
		<div class = "text-right">
		<h2 id="statusBuku"><i class='fa fa-star'style = 'color : orange'></i> {{counter}} buku favorit</h2></div>
		<input class = "form-control" id = "myInput" type="text" placeholder="Masukkan nama buku...">
		<button class = "btn btn-info form-control" id="submit"><i class="fa fa-search"></i>Search</button>
		<table class = "table table-striped" id = "shelf" style = "background-color: white">
		</table>
	</div>
	<script type="text/javascript">
		function changeStar(id){
			var star = $('#'+id).html();
			if(star.includes("gray")) {
				$.ajax({
					url : "/add/",
					dataType : 'json',
					success : function(result){
						$('#'+id).html("<i class='fa fa-star' style = 'color : orange'></i>");
						$("#statusBuku").html("<i class='fa fa-star'style = 'color : orange'></i> " + result+ " buku favorit");	
					}
				});
				
			}
			else{
				$.ajax({
					url : "/substract/",
					dataType : 'json',
					success : function(result){
						$('#'+id).html("<i class='fa fa-star' style = 'color : gray'></i>");
						$("#statusBuku").html("<i class='fa fa-star'style = 'color : orange'></i> " + result + " buku favorit");
					}
				});
			}	
		}
		$("#submit").click(function(){
			var x = $('#myInput').val();
			var another = document.getElementsByTagName("thead");
			for(i = 0; i < another.length; i++){
				another[i].style.display = "none";
			}
			var other = document.getElementsByClassName("bukubuku");
			for(i = 0; i < other.length; i++){
				other[i].style.display = "none";
			}
			$.ajax({
				url: "/data/?cari=" + x,
				success: function(result){
					result = result.items
					var hdr = "<thead><tr><th>Judul</th><th>Penulis</th><th>Sampul</th><th>Deskripsi</th><th></th></tr></thead>";
						$("#shelf").append(hdr);
						$("#shelf").append("<tbody>");
						dataLength = result.length;
					for(i=0; i<result.length; i++){
						var tmp = "<tr class = 'bukubuku'><td>" + result[i].volumeInfo.title + "</td><td>" + result[i].volumeInfo.authors + "</td><td>"+"<img src='"+result[i].volumeInfo.imageLinks.thumbnail+ "'>"+"</td><td>" + result[i].volumeInfo.description +"</td><td>"+"<button class='button' style = 'background-color: Transparent; border: none' id='"+result[i].id+"' onclick = 'changeStar(" +"\""+result[i].id+"\""+")'><i class='fa fa-star'style = 'color : gray'></i></button>"+"</td></tr>";

						$("#shelf").append(tmp);
					}
					$("#shelf").append("</tbody>");
				}
			});
		});

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>
</html>